:root {
	--default-padding: 0.5rem;
	--default-margin: 0.25rem;
	--default-border-radius: var(--default-padding);
	--default-icon-width-and-height: 20px;
	--accent-color-light: #eee;
	--accent-color-dim: #888;
	--accent-color-dark: #222;
}
body {
	margin: 0;
	font-family: Bahnschrift, "Franklin Gothic", Helvetica, sans-serif;
	color: var(--accent-color-dark);
}
body * {
	font-family: inherit;
}
@media (min-aspect-ratio: 4/3) {
	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	#content-wrapper {
		flex-grow: 1;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: safe center;
	}
	#side-wrapper {
		width: 33vw;
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
}
nav {
	border-bottom: 0.125rem solid var(--accent-color-dim);
	padding: 1rem;
	margin-bottom: 2rem;
}
nav::after {
	content: "";
	display: block;
	min-height: 1px;
	clear: both;
}
#timer-work-break-switch {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	border-radius: var(--default-border-radius);
	overflow: hidden;
	margin: var(--default-margin);
}
#timer-work-break-switch * {
	appearance: none;
	display: block;
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
	flex-grow: 1;
}
#timer-work-break-switch button:nth-child(1) {
	border-bottom-left-radius: var(--default-border-radius);
}
#timer-work-break-switch button:nth-last-child(1) {
	border-bottom-right-radius: var(--default-border-radius);
}
#timer-work-break-switch .button-selected {
	flex-grow: 2;
}
#timer-duration-controls {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	border-radius: var(--default-border-radius);
	overflow: hidden;
	margin: var(--default-margin);
}
#timer-duration-controls * {
	flex-grow: 1;
	align-self: stretch;
}
#timer-duration-controls * button {
	appearance: none;
	display: block;
	width: 100%;
	height: calc(var(--default-icon-width-and-height) + 2 * var(--default-padding));
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
}
#timer-duration-controls div:nth-child(1) button:nth-last-child(1) {
	border-bottom-left-radius: var(--default-border-radius);
}
#timer-duration-controls div:nth-last-child(1) button:nth-last-child(1) {
	border-bottom-right-radius: var(--default-border-radius);
}
#timer-duration-controls * button::after {
	content: "";
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	mask-image: url("media/triangle-arrow.svg");
	background-color: var(--accent-color-dim);
	vertical-align: middle;
}
#timer-duration-controls * button.time-duration-controls-increase::after {
	transform: scale(1, -1);
}
#timer-duration-controls * p {
	text-align: center;
	margin: 0.5rem 0;
	-webkit-user-select: none;
	user-select: none;
}
#timer-play-options {
	display: flex;
	flex-direction: row;
	gap: var(--default-margin);
	margin: var(--default-margin);
}
#timer-play-options > * {
	appearance: none;
	display: block;
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
}
#timer-button {
	flex-grow: 1;
}
#timer-button::after {
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	content: "";
	mask-image: url("media/pause.svg");
	background-color: var(--accent-color-dark);
	vertical-align: middle;
}
#timer-button.timer-button-paused::after {
	mask-image: url("media/play.svg");
}
#timer-play-options > button:nth-child(1) {
	border-top-left-radius: var(--default-border-radius);
	border-bottom-left-radius: var(--default-border-radius);
}
#timer-reset-button::before {
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	content: "";
	mask-image: url("media/reset.svg");
	background-color: var(--accent-color-dark);
	vertical-align: middle;
}
#timer-play-options > button:nth-last-child(2) {
	border-top-right-radius: var(--default-border-radius);
	border-bottom-right-radius: var(--default-border-radius);
}
#timer-skip-button::before {
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	content: "";
	mask-image: url("media/skip.svg");
	background-color: var(--accent-color-dark);
	vertical-align: middle;
}
#timer-play-options #timer-pip-button {
	border-radius: var(--default-border-radius);
}
#timer-pip-button::before {
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	content: "";
	mask-image: url("media/picture-in-picture.svg");
	background-color: var(--accent-color-dark);
	vertical-align: middle;
}
#white-noise-options, #binaural-options {
	border-radius: var(--default-border-radius);
	margin: var(--default-margin);
	overflow: hidden;
}
#binaural-options {
	background-color: var(--accent-color-light);`
}
#white-noise-options-inner {
	display: flex;
	flex-direction: row;
	margin-top: var(--default-margin);
	gap: var(--default-margin);
}
#white-noise-options-inner * {
	appearance: none;
	display: block;
	text-align: center;
	outline: none;
	border: none;
	padding: 0.25rem 0;
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
	flex-grow: 1;
}
#white-noise-options-inner > button:nth-child(1) {
	border-bottom-left-radius: var(--default-border-radius);
}
#white-noise-options-inner > button:nth-last-child(1) {
	border-bottom-right-radius: var(--default-border-radius);
}
#white-noise-options-inner .button-selected {
	flex-grow: 1.5;
}
#binaural-frequency-options {
	padding: var(--default-padding);
}
#binaural-frequency-options > * {
	display: block;
	width: 100%;
}
#binaural-beats-button {
	appearance: none;
	display: block;
	width: 100%;
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-top: var(--default-margin) solid white;
	border-bottom-right-radius: var(--default-border-radius);
	border-bottom-left-radius: var(--default-border-radius);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
}
.dropdown-reveal {
	appearance: none;
	display: block;
	width: 100%;
	text-align: left;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	background-color: var(--accent-color-light);
}
.dropdown-is-hidden {
	border-radius: var(--default-border-radius);
}
.dropdown-is-hidden ~ * {
	display: none !important;
}
#mute-button {
	appearance: none;
	display: block;
	width: fit-content;
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-radius: var(--default-border-radius);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
	float: right;
	margin: var(--default-margin);
	margin-top: 0;
	background-color: var(--accent-color-light);
}
#mute-button::before {
	display: inline-block;
	width: var(--default-icon-width-and-height);
	height: var(--default-icon-width-and-height);
	content: "";
	mask-image: url("media/mute.svg");
	background-color: var(--accent-color-dark);
	vertical-align: middle;
}
#mute-button + * {
	clear: both;
}
#reward-wrapper {
	margin: var(--default-margin);
	border-radius: var(--default-border-radius);
	background-color: var(--accent-color-light);
}
#reward-wrapper p {
	margin: 0;
	padding: var(--default-padding);
}
#reward-wrapper button {
	appearance: none;
	display: block;
	width: 100%;
	text-align: center;
	outline: none;
	border: none;
	padding: var(--default-padding);
	border-top: var(--default-margin) solid white;
	border-bottom: var(--default-margin) solid white;
	background-color: var(--accent-color-light);
}
#reward-wrapper button:nth-last-child(1) {
	border-bottom-right-radius: var(--default-border-radius);
	border-bottom-left-radius: var(--default-border-radius);
	border-bottom: var(--default-margin) solid var(--accent-color-dim);
}
#reward-type-switch-button::after {
	content: "I'm a dog person.";
}
#reward-type-switch-button.reward-type-dog-person::after {
	content: "I'm a cat person.";
}
#reward-icon-display {
	text-align: center;
	font-size: 2rem;
}
.button-selected {
	background-color: var(--accent-color-dim) !important;
	border-bottom-color: var(--accent-color-dark) !important;
	color: var(--accent-color-light) !important;
}
.button-selected::before, .button-selected::after {
	background-color: var(--accent-color-light) !important;
}